/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


nav ul a,
nav .brand-logo {
    color: #444;
}

nav .nav-wrapper .brand-logo img {
    height: 40px;
}

.brand-logo {
    display: inline-block;
    height: 100%;
}

.brand-logo>img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}


body {
    padding: 0 0 0 0 !important;
}
.title {
        border: 0;
		border-bottom: solid 2px #f4f4f4;
		margin: 2.25em 0;
    }
@media screen and (max-width: 1200px) {
    .button-text {
        display: none;
    }
    #buttonplus{
    	text-align: center;
    }
}
#footer{
    padding-top: 5vh;
    background-color: #26a69a;
}
#thought_add{
	padding-left:20%;
	padding-right:20%;
}
#thlabel{
	font-size:3vh;
}
#welcome{
    text-align:center;
}
#sign_up {
    padding-left: 15%;
    padding-right: 15%;
}
#admin {
    padding-left: 10%;
    padding-right: 10%;
}
#success{
    text-align: center;
    margin-top: 4vh;
}

.home-container {
    max-width: 100%;
    width: 100%;
}

/*Arrow Animation*/

.downArrow {
    margin-top: 70vh;
}

#arrow {
    height: 4vh;
}

.bounce {
    -moz-animation: bounce 12s;
    -webkit-animation: bounce 12s;
    animation: bounce 12s;
    animation-iteration-count: 2;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
